# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/vcs.xml
untitled/
untitled/lib/python3.7/site-packages/cmudict-0.4.4.dist-info/
untitled/lib/python3.7/site-packages/cmudict/
untitled/lib/python3.7/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/__pycache__/_ihatexml.cpython-37.pyc
untitled/lib/python3.7/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/treebuilders/__pycache__/etree.cpython-37.pyc
untitled/lib/python3.7/site-packages/Hyphenate-1.1.0.dist-info/
untitled/lib/python3.7/site-packages/__pycache__/
untitled/lib/python3.7/site-packages/hyphenate.py
untitled/bin/__pycache__/
untitled/bin/f2py
untitled/bin/f2py3
untitled/bin/f2py3.7
untitled/bin/prosodic
untitled/bin/runxlrd.py
untitled/lib/python3.7/site-packages/Levenshtein/
untitled/lib/python3.7/site-packages/Pyphen-0.9.5.dist-info/
untitled/lib/python3.7/site-packages/decorator-4.4.2.dist-info/
untitled/lib/python3.7/site-packages/decorator.py
untitled/lib/python3.7/site-packages/metricaltree/
untitled/lib/python3.7/site-packages/networkx-2.4.dist-info/
untitled/lib/python3.7/site-packages/networkx/
untitled/lib/python3.7/site-packages/nltk/cluster/__pycache__/
untitled/lib/python3.7/site-packages/nltk/parse/__pycache__/generate.cpython-37.pyc
untitled/lib/python3.7/site-packages/numpy-1.18.3.dist-info/
untitled/lib/python3.7/site-packages/numpy/
untitled/lib/python3.7/site-packages/pip-20.1.dist-info/
untitled/lib/python3.7/site-packages/pip/
untitled/lib/python3.7/site-packages/prosodic-1.3.8-py3.7.egg-info/
untitled/lib/python3.7/site-packages/prosodic/
untitled/lib/python3.7/site-packages/pyparsing-2.4.7.dist-info/
untitled/lib/python3.7/site-packages/pyparsing.py
untitled/lib/python3.7/site-packages/pyphen.py
untitled/lib/python3.7/site-packages/pyphen/
untitled/lib/python3.7/site-packages/python_Levenshtein-0.12.0-py3.7.egg-info/
untitled/lib/python3.7/site-packages/scipy-1.4.1.dist-info/
untitled/lib/python3.7/site-packages/scipy/
untitled/lib/python3.7/site-packages/xlrd-1.2.0.dist-info/
untitled/lib/python3.7/site-packages/xlrd/
untitled/lib/python3.7/site-packages/xlwt-1.3.0.dist-info/
untitled/lib/python3.7/site-packages/xlwt/
untitled/share/
